<!DOCTYPE html>
<!-- 
	This software is MIT Licensed (see LICENSE)
	Copyright (c) 2014-2016 Cristian O. Giambruni, Ezequiel F. Gómez
-->
<html lang="es"> 
<head>
    <title>{% block title %}Banco Alimentario La Plata{% endblock %}</title>
	<meta charset="utf8" />
	<!-- <link href="css/estilos.css" rel="stylesheet" /> -->
 <link rel="stylesheet" media="(min-width: 481px)" href="./css/maqueta.css" type="text/css">
 <link rel="stylesheet" media="(max-width: 480px)" href="./css/maquetaMobile.css" />
 <link rel="stylesheet" href="./css/login.css" type="text/css"/>
 <link rel="stylesheet" href="./css/listado.css" type="text/css"/> 
 <link rel="stylesheet" href="./css/responsive.css" type="text/css"/>
 
 
 <script src="./js/mensaje.js"></script>
 <script src="./js/jquery-1.9.1.js"></script>
 

 
 <style type="text/css">
#message_box{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #ffc;
	padding: 5px;
	border: 1px solid #CCCCCC;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font: 12px "Arial";
}
</style>
 
<script type='text/javascript'>
    // Para cerrar el modal del login cuando se presione la tecla escape
    $(document).keyup(function(event){
        if(event.which==27)
        {
            location.href = "#close";
        }
    });
</script> 
 
 
 
 
 
 
</head>
<body onload="setupMessageBox()">
    <!-- si tiene mensajes -->
	{% if (mensaje) %} <div id="message_box">{{ mensaje }}</div>{% endif %}
	
	
	<div id="global">

		<div id="cabecera">
		 
			<a href="./index.php"><img src="./img/logo.jpg" alt="logo de la fundacion"/></a>
			<span style="float:right">
				<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
				<script type="IN/Share" data-url="https://grupo_48.proyecto2014.linti.unlp.edu.ar/"></script> 
			</span>
	 
		</div>

		
		<div id="navegacion">

			<ul class="egmenu">
				<li><a href="./index.php">Home</a></li>
				<li><a href="./index.php?accion=quienesSomos">Quienes Somos</a></li>
				<li><a href="./index.php?accion=listarDonantes">Donantes</a></li>
				<li><a href="./index.php?accion=listarEntidades">Entidades Receptoras</a></li>
				<li><a href="./index.php?accion=contacto">Contacto</a></li>
				{% if (log == 1) %}
					<li><a href="./backend.php">Entrar</a></li>
				{% else %}
					<li><a href="#login">Login</a></li>
				{% endif %}
			</ul>
		</div>

		 <div id="principal"> 
		 
			<!-- Contenido dinamico a mostrar -->
			<div>
			  <br>
			  
			  {% block contenido %}
			  {% endblock %}
			</div>
		</div>
				
	</div>


	<div id="login" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			
			
			<h3>Login</h3>
			<p>Inicie sesión para continuar.</p>
			
			<form class="log"  method="post" name="formulario" id="formulario" action='./../app/login.php'>
				<div>
					<input type="text" name="usuario" id="usuario" placeholder="Usuario" autofocus required/>
				</div>
				<div>
					<input type="password" name="pass" placeholder="Contraseña" required/>
				</div>
				<div>
					<button type="submit" name= "boton" class="button">Iniciar sesión</button>
				</div>
				
			</form>
		</div>
	</div>
	

	<footer>Grupo 48 - Proyecto de Software 2014, UNLP | Seguinos en: <a href="https://www.twitter.com/locopro86">@locopro86</a> y <a href="https://twitter.com/egother">@eghother</a></footer>

	</body>
</body>
</html>
